nav.navbar.bg-dark
  .container-fluid
    a.navbar-brand([routerLink]="['/']").ms-4.p-0
      img(src='assets/angular.png' alt='Test application' width='50' height='50')
      span.ms-3.text-white Test application for BESKYD